Repository HULKs/hulk, pull requests merged in 2023-03, with the labels that each got.

#112 Restrict map zoom
  tools/twix/src/panels/map/mod.rs
Labels: tools:Debug Tooling

#103 Fix panic for striker during penalty shootout
  crates/control/src/behavior/stand.rs
Labels: cat:Behavior

#109 Add leadership documentation
  docs/workflow/leadership.md
  mkdocs.yml
Labels: Documentation, is:Orga

#149 Twix copy text
  tools/twix/src/panels/text.rs
Labels: tools:Debug Tooling

#155 Fix configuration head json files
  etc/configuration/head.P0000074A03S84400010.json
  etc/configuration/head.P0000074A03S84A00011.json
  etc/configuration/head.P0000074A03S85B00016.json
  etc/configuration/head.P0000074A03S85V00012.json
  etc/configuration/head.P0000074A04S8CP00037.json
  etc/configuration/head.P0000074A04S8CP00040.json
  etc/configuration/head.P0000074A04S8CP00042.json
  etc/configuration/head.P0000074A04S8CP00056.json
  etc/configuration/head.P0000074A05S98U00019.json
  etc/configuration/head.P0000074A05S99M00009.json
  etc/configuration/head.P0000074A06S9A900006.json
  etc/configuration/head.P0000074A06S9A900031.json
Labels: ParameterChangesOnly
