Repository HULKs/hulk, pull requests merged in 2023-05, with the labels that each got.

#301 Remove intrinsic calibration panel from twix to keep things simple (a…
  tools/twix/src/panels/manual_camera_calibration.rs
Labels: tools:Debug Tooling, calibration:Manual

#331 Fix title and remove copyright year
  README.md
Labels: ParameterChangesOnly

#326 Interpolation Mode and Name
  crates/motionfile/src/motion_file.rs
  crates/motionfile/src/motion_interpolator.rs
  crates/motionfile/src/timed_spline.rs
  etc/motions/stand_up_back_dortmund_2022.json
Labels: cat:Motion

#322 Add engineering documentation
  docs/workflow/engineering.md
Labels: Documentation, is:Orga

#340 Add engineering documentation to mkdocs.yml
  mkdocs.yml
Labels: Documentation, is:Orga

#329 Fix falling back in sit down
  etc/motions/sit_down.json
Labels: cat:Motion

#341 Remove unused python stuff
  requirements.txt
  scripts/gamestateReceiver.py
  scripts/hulks
  tools/libPython/hulks/__init__.py
  tools/libPython/hulks/evolver_utils.py
  tools/libPython/hulks/evolvercurse.py
  tools/libPython/hulks/json_utils.py
  tools/libPython/hulks/logging.py
  tools/libPython/hulks/nn_utils.py
  tools/libPython/hulks/util.py
Labels: is:Cleanup, tools:Tooling
