Repository HULKs/hulk, pull requests merged in 2024-06, with the labels that each got.

#1042 RNG Determinism
  Cargo.lock
  Cargo.toml
  crates/control/Cargo.toml
  crates/control/src/visual_referee_filter.rs
  crates/hulk_replayer/src/worker_thread.rs
  crates/ransac/Cargo.toml
  crates/ransac/src/lib.rs
  crates/vision/Cargo.toml
  crates/vision/src/field_border_detection.rs
  crates/vision/src/lib.rs
  crates/vision/src/line_detection.rs
Labels: cat:Vision

#1002 Not on my watch
  Cargo.lock
  Cargo.toml
  crates/buffered_watch/Cargo.toml
  crates/buffered_watch/src/lib.rs
  crates/buffered_watch/src/receiver.rs
  crates/buffered_watch/src/sender.rs
  crates/buffered_watch/tests/interleaved.rs
  crates/buffered_watch/tests/sequential.rs
  crates/code_generation/src/cyclers.rs
  crates/code_generation/src/execution.rs
  crates/communication/Cargo.toml
  crates/communication/src/lib.rs
  crates/communication/src/server/outputs/provider.rs
  crates/communication/src/server/parameters/storage.rs
  crates/communication/src/server/parameters/subscriptions.rs
  crates/communication/src/server/runtime.rs
  crates/framework/src/lib.rs
  crates/framework/src/multiple_buffer.rs
  crates/hulk/Cargo.toml
  crates/hulk_imagine/Cargo.toml
  crates/hulk_imagine/src/main.rs
  crates/hulk_replayer/Cargo.toml
  crates/hulk_replayer/src/worker_thread.rs
  tools/behavior_simulator/Cargo.toml
  tools/behavior_simulator/src/cycler.rs
  tools/behavior_simulator/src/robot.rs
  tools/behavior_simulator/src/server.rs
Labels: cat:Framework

#1024 Simulator Generator
  .github/workflows/pull-request.yml
  Cargo.lock
  Cargo.toml
  crates/code_generation/src/cyclers.rs
  crates/control/src/lib.rs
  crates/hulk_behavior_simulator/Cargo.toml
  crates/hulk_behavior_simulator/build.rs
  crates/hulk_behavior_simulator/default.json
  crates/hulk_behavior_simulator/etc
  crates/hulk_behavior_simulator/src/fake_data.rs
  crates/hulk_behavior_simulator/src/interfake.rs
  crates/hulk_behavior_simulator/src/lib.rs
  crates/hulk_behavior_simulator/src/main.rs
  crates/hulk_behavior_simulator/src/robot.rs
  crates/hulk_behavior_simulator/src/server.rs
  crates/hulk_behavior_simulator/src/simulator.rs
  crates/hulk_behavior_simulator/src/state.rs
  crates/hulk_behavior_simulator/tests/scenarios.rs
  crates/source_analyzer/src/node.rs
  docs/framework/parameters.md
  docs/tooling/behavior_simulator.md
  docs/tooling/overview.md
  docs/tooling/sprite.md
  mkdocs.yml
  tests/behavior/ball_intercept.lua
  tests/behavior/ball_intercept_striker.lua
  tests/behavior/ball_search.lua
  tests/behavior/defender_positioning.lua
  tests/behavior/demonstration.lua
  tests/behavior/deny_keeper_ballsearch.lua
  tests/behavior/golden_goal.lua
  tests/behavior/golden_goal_opponent_kickoff.lua
  tests/behavior/golden_goal_striker_penalized.lua
  tests/behavior/hulks_vs_ghosts.lua
  tests/behavior/ingamepenalty_attacking.lua
  tests/behavior/ingamepenalty_defending.lua
  tests/behavior/ingamepenalty_defending_with_kick.lua
  tests/behavior/oscillating_obstacle.lua
  tests/behavior/quantum_ball.lua
  tests/behavior/reappearing_ball_in_front_of_1.lua
  tests/behavior/replacementkeeper_test.lua
  tests/behavior/turning_time.lua
  tests/behavior/vanishing_ball.lua
  tests/behavior/walkaroundball.lua
  tools/behavior_simulator/src/cycler.rs
  tools/behavior_simulator/src/interfake.rs
Labels: cat:Behavior, tools:Tooling

#1004 Clean up default
  crates/control/src/game_controller_filter.rs
  crates/control/src/motion/condition_input_provider.rs
  etc/parameters/default.json
Labels: is:Cleanup

#829 Image color select
  Cargo.lock
  tools/twix/Cargo.toml
  tools/twix/src/main.rs
  tools/twix/src/panels/image/mod.rs
  tools/twix/src/panels/image_color_select.rs
  tools/twix/src/panels/mod.rs
  tools/twix/src/selectable_panel_macro.rs
Labels: cat:Vision, tools:Tooling, GO24, RC24

#1051 Durchdrängeln
  crates/control/src/behavior/walk_to_pose.rs
Labels: cat:Behavior

#1053 Robustify SDK installation
  crates/repository/src/lib.rs
Labels: tools:SDK, tools:Tooling

#831 Visual referee message transmission decision
  Cargo.lock
  crates/control/src/behavior/initial.rs
  crates/control/src/led_status.rs
  crates/control/src/referee_pose_detection_filter.rs
  crates/path_serde/src/not_supported.rs
  etc/parameters/default.json
Labels: GO24, RC24

#1056 make catching steps toggleable
  crates/control/src/fall_state_estimation.rs
  crates/walking_engine/src/mode/walking.rs
  crates/walking_engine/src/parameters.rs
  etc/parameters/default.json
Labels: RC24

#1060 Use binary subscriptions for image
  tools/twix/src/panels/image_color_select.rs
Labels: tools:Debug Tooling

#1062 Remove unused bool fallen in HulkMessage
  crates/control/src/role_assignment.rs
  crates/spl_network_messages/src/lib.rs
Labels: is:Cleanup, RC24

#682 Fix Two Replacementkeeper
  crates/control/src/role_assignment.rs
  tests/behavior/two_replacementkeepers.lua
Labels: cat:Behavior, GO24, RC24

#1058 Standby phase
  crates/control/src/behavior/initial.rs
  crates/control/src/game_controller_state_filter.rs
  crates/control/src/led_status.rs
  crates/control/src/localization.rs
  crates/control/src/primary_state_filter.rs
  crates/control/src/referee_pose_detection_filter.rs
  crates/hulk_behavior_simulator/src/fake_data.rs
  crates/hulk_behavior_simulator/src/state.rs
  crates/spl_network_messages/headers/RoboCupGameControlData.hpp
  crates/spl_network_messages/src/game_controller_state_message.rs
  crates/types/src/filtered_game_state.rs
  crates/types/src/primary_state.rs
Labels: rules:2024, test:Field Needed, RC24

#1055 Add support for aach64 SDK
  Cargo.lock
  crates/repository/src/lib.rs
  tools/pepsi/Cargo.toml
Labels: tools:SDK, RC24

#1064 increase referee pose detection parameter
  etc/parameters/default.json
Labels: ParameterChangesOnly

#1068 Add more descriptive OpenVino error message + installation information.
  crates/object_detection/src/pose_detection.rs
  docs/setup/development_environment.md
Labels: cat:MachineLearning, Documentation

#1059 clear error message when NAO with hardware id doesn't exist
  tools/pepsi/src/player_number.rs
  tools/pepsi/src/progress_indicator.rs
Labels: tools:Tooling, RC24

#1069 Parallel/ multiple read() access for Webots Camera
  crates/hulk_webots/src/camera.rs
Labels: cat:Vision, cat:Webots, RC24

#1023 Image zZoom für Alex
  Cargo.lock
  crates/coordinate_systems/src/lib.rs
  tools/twix/Cargo.toml
  tools/twix/src/main.rs
  tools/twix/src/panels/image/mod.rs
  tools/twix/src/panels/image_color_select.rs
  tools/twix/src/panels/image_segments.rs
  tools/twix/src/panels/map/mod.rs
  tools/twix/src/twix_painter.rs
  tools/twix/src/zoom_and_pan.rs
Labels: cat:Vision, tools:Tooling

#1054 Add support for building for the NAO with docker
  Cargo.lock
  crates/constants/src/lib.rs
  crates/repository/src/lib.rs
  docs/setup/development_environment.md
  tools/pepsi/Cargo.toml
  tools/pepsi/src/cargo.rs
  tools/pepsi/src/sdk.rs
Labels: tools:SDK, tools:Tooling, RC24

#1018 Add kick off kick targets
  crates/control/src/kick_selector.rs
  crates/control/src/kick_target_provider.rs
  crates/types/src/kick_target.rs
  etc/parameters/default.json
  tools/twix/src/panels/map/layers/kick_decisions.rs
Labels: cat:Behavior, RC24

#1084 Use new API calls for OpenVino
  Cargo.lock
  Cargo.toml
  crates/object_detection/src/pose_detection.rs
Labels: cat:MachineLearning

#1075 ball detected far from kick off depending on seen location
  crates/control/src/active_vision.rs
  crates/control/src/game_controller_state_filter.rs
Labels: RC24

#1080 Rule Balls in Heatmap
  crates/control/src/search_suggestor.rs
  crates/types/src/field_dimensions.rs
Labels: cat:BallSearch, RC24
