Repository HULKs/hulk, pull requests merged in 2024-01, with the labels that each got.

#663 Add Git Setup
  docs/setup/git_setup.md
  mkdocs.yml
Labels: Documentation

#672 impl From<Finished> for GameState { ... }
  crates/control/src/game_state_filter.rs
  crates/types/src/parameters.rs
  etc/parameters/default.json
Labels: is:Bug

#677 Small fixes of breeze
  tools/breeze/src/main.rs
Labels: tools:Tooling

#670 Remove energy-saving-stand
  crates/control/src/behavior/calibrate.rs
  crates/control/src/behavior/dribble.rs
  crates/control/src/behavior/look_around.rs
  crates/control/src/behavior/stand.rs
  crates/control/src/behavior/walk_to_pose.rs
  crates/control/src/motion/dispatching_interpolator.rs
  crates/control/src/motion/energy_saving_stand.rs
  crates/control/src/motion/mod.rs
  crates/control/src/motion/motion_selector.rs
  crates/control/src/motion/motor_commands_collector.rs
  crates/hulk/build.rs
  crates/types/src/motion_command.rs
  crates/types/src/motion_selection.rs
  etc/parameters/default.json
  tools/behavior_simulator/src/state.rs
  tools/twix/src/panels/look_at.rs
Labels: is:Cleanup

#694 Bump pepsi version
  Cargo.lock
  tools/pepsi/Cargo.toml
Labels: tools:Tooling

#696 VTune Plot Tooling
  tools/vtune/plot_task_data.py
Labels: tools:Debug Tooling

#697 Add joints.body
  crates/types/src/joints/mod.rs
Labels: is:Easy

#706 Remove ununsed robot detection
  crates/control/src/obstacle_filter.rs
  crates/hulk/build.rs
  crates/types/src/detected_robots.rs
  crates/types/src/lib.rs
  crates/types/src/parameters.rs
  crates/vision/src/lib.rs
  crates/vision/src/robot_detection.rs
  etc/neural_networks/robot_detector.hdf5
  etc/parameters/default.json
  tools/twix/src/panels/image/overlay.rs
  tools/twix/src/panels/image/overlays/mod.rs
  tools/twix/src/panels/image/overlays/robot_detection.rs
Labels: cat:Vision
