Repository HULKs/hulk, pull requests merged in 2025-01, with the labels that each got.

#1544 Create proper `uv` workspace
  tools/machine-learning/mujoco/.gitignore
  tools/machine-learning/mujoco/packages/kinematics/.python-version
  tools/machine-learning/mujoco/packages/kinematics/pyproject.toml
  tools/machine-learning/mujoco/packages/kinematics/src/kinematics/__init__.py
  tools/machine-learning/mujoco/packages/kinematics/src/kinematics/inverse_kinematics.py
  tools/machine-learning/mujoco/packages/kinematics/tests/standup_back_fuzz.json
  tools/machine-learning/mujoco/packages/kinematics/tests/standup_front_fuzz.json
  tools/machine-learning/mujoco/packages/kinematics/tests/test_inverse_kinematics.py
  tools/machine-learning/mujoco/packages/nao_env/.python-version
  tools/machine-learning/mujoco/packages/nao_env/pyproject.toml
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/__init__.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standup.py
  tools/machine-learning/mujoco/packages/nao_interface/.python-version
  tools/machine-learning/mujoco/packages/nao_interface/pyproject.toml
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/__init__.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/nao_interface.py
  tools/machine-learning/mujoco/packages/transforms/.python-version
  tools/machine-learning/mujoco/packages/transforms/pyproject.toml
  tools/machine-learning/mujoco/packages/transforms/src/transforms/__init__.py
  tools/machine-learning/mujoco/packages/transforms/src/transforms/transforms.py
  tools/machine-learning/mujoco/packages/transforms/tests/test_transforms.py
  tools/machine-learning/mujoco/packages/walking_engine/.python-version
  tools/machine-learning/mujoco/packages/walking_engine/pyproject.toml
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/__init__.py
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/walking.py
  tools/machine-learning/mujoco/pyproject.toml
  tools/machine-learning/mujoco/scripts/interactive_viewer.py
  tools/machine-learning/mujoco/scripts/standup.py
  tools/machine-learning/mujoco/scripts/walking_gym.py
  tools/machine-learning/mujoco/test_inverse_kinematics.py
  tools/machine-learning/mujoco/uv.lock
Labels: cat:MuJoCo

#1552 Add information about HULA
  docs/operating_system/hula-overview-dark.svg
  docs/operating_system/hula-overview-light.svg
  docs/operating_system/hula-overview.drawio
  docs/operating_system/hula.md
Labels: Documentation

#1557 Cleanup motion safe exits
  crates/control/src/motion/arms_up_squat.rs
  crates/control/src/motion/arms_up_stand.rs
  crates/control/src/motion/center_jump.rs
  crates/control/src/motion/jump_left.rs
  crates/control/src/motion/jump_right.rs
  crates/control/src/motion/stand_up_back.rs
  crates/control/src/motion/stand_up_front.rs
  crates/control/src/motion/stand_up_sitting.rs
  crates/control/src/motion/wide_stance.rs
Labels: cat:Motion, is:Cleanup, is:Bugfix

#1538 Add taplo format check to CI
  .github/workflows/pull-request.yml
  .taplo.toml
  Cargo.toml
  crates/aliveness/Cargo.toml
  crates/argument_parsers/Cargo.toml
  crates/bevyhavior_simulator/Cargo.toml
  crates/constants/Cargo.toml
  crates/motionfile/Cargo.toml
  crates/object_detection/Cargo.toml
  crates/opn/Cargo.toml
  crates/parameters/Cargo.toml
  crates/projection/Cargo.toml
  crates/source_analyzer/Cargo.toml
  crates/spl_network_messages/Cargo.toml
  docs/workflow/checks.md
  docs/workflow/development.md
  docs/workflow/getting_started.md
  tools/annotato/Cargo.toml
  tools/hula/Cargo.toml
  tools/machine-learning/mujoco/pyproject.toml
  tools/twix/Cargo.toml
Labels: tools:CI

#1563 Fix Enum plot tooltip
  tools/twix/src/panels/enum_plot.rs
Labels: tools:Debug Tooling, mit Qualitätsgarantie

#1559 Remove fix for lua
  crates/control/src/time_to_reach_kick_position.rs
Labels: is:Cleanup

#1565 Update copyright year
  README.md
Labels: is:Easy

#1253 Ball filter - Not so Smart Update
  Cargo.lock
  Cargo.toml
  crates/ball_filter/Cargo.toml
  crates/ball_filter/src/hypothesis.rs
  crates/ball_filter/src/lib.rs
  crates/control/Cargo.toml
  crates/control/src/ball_filter.rs
  crates/hungarian_algorithm/Cargo.toml
  crates/hungarian_algorithm/src/lib.rs
  crates/types/src/parameters.rs
  crates/vision/src/ball_detection.rs
  etc/parameters/default.json
  tools/twix/src/panels/map/layers/ball_filter.rs
Labels: cat:Filtering

#1564 Docs: add checks to navbar
  mkdocs.yml
Labels: Documentation, is:Easy

#1543 Upgrade OS version to 7.6.0
  crates/constants/src/lib.rs
Labels: tools:SDK

#1553 Include `direction` field in `Arc`
  crates/bevyhavior_simulator/src/robot.rs
  crates/control/src/motion/step_planner.rs
  crates/control/src/path_planner.rs
  crates/control/src/time_to_reach_kick_position.rs
  crates/geometry/src/arc.rs
  crates/geometry/src/circle.rs
  crates/geometry/src/direction.rs
  crates/geometry/src/line_segment.rs
  crates/types/src/path_obstacles.rs
  crates/types/src/planned_path.rs
  tools/twix/src/twix_painter.rs
Labels: is:Refactoring

#1546 Mujoco walking with FSRs
  tools/machine-learning/mujoco/model/nao.xml
  tools/machine-learning/mujoco/scripts/mujoco-walking.py
Labels: cat:MuJoCo

#1547 Tomatoblast Vol. 1
  tools/machine-learning/mujoco/model/nao.xml
  tools/machine-learning/mujoco/model/scene.xml
  tools/machine-learning/mujoco/model/tomato.xml
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/__init__.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/nao_interface.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/poses.py
  tools/machine-learning/mujoco/packages/throwing/.python-version
  tools/machine-learning/mujoco/packages/throwing/pyproject.toml
  tools/machine-learning/mujoco/packages/throwing/src/throwing/__init__.py
  tools/machine-learning/mujoco/pyproject.toml
  tools/machine-learning/mujoco/scripts/mujoco-walking.py
  tools/machine-learning/mujoco/uv.lock
Labels: cat:MuJoCo

#1554 Feature/twix port input
  Cargo.lock
  tools/twix/Cargo.toml
  tools/twix/src/main.rs
Labels: tools:Debug Tooling

#1568 Add sensor accessor methods to nao interface
  tools/machine-learning/mujoco/packages/kinematics/src/kinematics/__init__.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/__init__.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/nao_interface.py
  tools/machine-learning/mujoco/packages/transforms/src/transforms/__init__.py
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/__init__.py
  tools/machine-learning/mujoco/scripts/mujoco-walking.py
Labels: cat:MuJoCo

#1570 Dependency cycle errors
  crates/source_analyzer/src/cyclers.rs
  crates/source_analyzer/src/error.rs
Labels: cat:Framework, is:EasyWin

#1576 Adjust `Framed` vector API to match upstream nalgebra
  crates/bevyhavior_simulator/src/bin/intercept_ball.rs
  crates/bevyhavior_simulator/src/bin/penalty_shootout_defending.rs
  crates/bevyhavior_simulator/src/robot.rs
  crates/control/src/active_vision.rs
  crates/control/src/dribble_path_planner.rs
  crates/control/src/localization.rs
  crates/control/src/odometry.rs
  crates/control/src/time_to_reach_kick_position.rs
  crates/geometry/src/line.rs
  crates/geometry/src/line_segment.rs
  crates/linear_algebra/src/vector.rs
  crates/vision/src/line_detection/checks.rs
  tools/twix/src/twix_painter.rs
Labels: is:Easy, is:Refactoring

#1584 Fix environment errors
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standing.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standup.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/__init__.py
Labels: cat:MuJoCo

#1588 Add OS version to gammaray status message
  tools/pepsi/src/gammaray.rs
  tools/pepsi/src/progress_indicator.rs
Labels: tools:Tooling

#1589 Cleanup
  crates/geometry/src/line_segment.rs
Labels: is:Cleanup, is:Easy

#1598 Throw error if main output isn't public
  crates/context_attribute/src/lib.rs
Labels: cat:Framework, is:EasyWin

#1599 Implement path serde for simple tuples
  crates/path_serde/src/implementation.rs
Labels: cat:Framework

#1607 Let's learn to walk
  tools/machine-learning/mujoco/model/nao.xml
  tools/machine-learning/mujoco/model/scene.xml
  tools/machine-learning/mujoco/model/tomato.xml
  tools/machine-learning/mujoco/packages/nao_env/pyproject.toml
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/__init__.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standing.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standup.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_walking.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/wrappers/__init__.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/wrappers/wandb_log_video_recorder.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/nao_interface.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/poses.py
  tools/machine-learning/mujoco/packages/rewards/pyproject.toml
  tools/machine-learning/mujoco/packages/rewards/src/rewards/__init__.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/base.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/composer.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/rewards.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/walk_rewards.py
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/walking_types.py
  tools/machine-learning/mujoco/pyproject.toml
  tools/machine-learning/mujoco/scripts/learn.py
  tools/machine-learning/mujoco/scripts/mujoco-walking.py
  tools/machine-learning/mujoco/uv.lock
Labels: cat:MuJoCo

#1604 Mujoco: compute arm joints for base policy
  tools/machine-learning/mujoco/packages/kinematics/src/kinematics/inverse_kinematics.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_walking.py
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/__init__.py
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/joint_command.py
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/walking_types.py
Labels: cat:MuJoCo

#1605 mujoco type stubs
  tools/machine-learning/mujoco/pyproject.toml
  tools/machine-learning/mujoco/typings/mujoco/__init__.pyi
  tools/machine-learning/mujoco/typings/mujoco/_callbacks.pyi
  tools/machine-learning/mujoco/typings/mujoco/_constants.pyi
  tools/machine-learning/mujoco/typings/mujoco/_enums.pyi
  tools/machine-learning/mujoco/typings/mujoco/_errors.pyi
  tools/machine-learning/mujoco/typings/mujoco/_functions.pyi
  tools/machine-learning/mujoco/typings/mujoco/_render.pyi
  tools/machine-learning/mujoco/typings/mujoco/_specs.pyi
  tools/machine-learning/mujoco/typings/mujoco/_structs.pyi
  tools/machine-learning/mujoco/typings/mujoco/bindings_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/cgl/__init__.pyi
  tools/machine-learning/mujoco/typings/mujoco/cgl/cgl.pyi
  tools/machine-learning/mujoco/typings/mujoco/egl/__init__.pyi
  tools/machine-learning/mujoco/typings/mujoco/egl/egl_ext.pyi
  tools/machine-learning/mujoco/typings/mujoco/gl_context.pyi
  tools/machine-learning/mujoco/typings/mujoco/glfw.pyi
  tools/machine-learning/mujoco/typings/mujoco/glfw/__init__.pyi
  tools/machine-learning/mujoco/typings/mujoco/memory_leak_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/minimize.pyi
  tools/machine-learning/mujoco/typings/mujoco/minimize_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/msh2obj.pyi
  tools/machine-learning/mujoco/typings/mujoco/msh2obj_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/osmesa/__init__.pyi
  tools/machine-learning/mujoco/typings/mujoco/render_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/renderer.pyi
  tools/machine-learning/mujoco/typings/mujoco/renderer_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/rollout.pyi
  tools/machine-learning/mujoco/typings/mujoco/rollout_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/specs_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/camera.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/demo.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/exporter.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/exporter_test.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/lights.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/objects.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/shapes.pyi
  tools/machine-learning/mujoco/typings/mujoco/usd/utils.pyi
  tools/machine-learning/mujoco/typings/mujoco/viewer.pyi
  tools/machine-learning/mujoco/typings/mujoco/viewer_test.pyi
  tools/machine-learning/mujoco/uv.lock
Labels: cat:MuJoCo

#1606 Fix some lints in Mujoco
  tools/machine-learning/mujoco/packages/nao_env/pyproject.toml
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_walking.py
  tools/machine-learning/mujoco/packages/rewards/pyproject.toml
  tools/machine-learning/mujoco/packages/transforms/src/transforms/transforms.py
  tools/machine-learning/mujoco/packages/walking_engine/src/walking_engine/walking_types.py
  tools/machine-learning/mujoco/uv.lock
Labels: cat:MuJoCo

#1612 Fix for pepsi maxi on mac
  scripts/resolve_data_home
Labels: is:Bugfix

#1610 Behead the Action Space
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_base_env.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standing.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standup.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_walking.py
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/wrappers/__init__.py
  tools/machine-learning/mujoco/packages/nao_interface/src/nao_interface/nao_interface.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/base.py
  tools/machine-learning/mujoco/packages/throwing/src/throwing/__init__.py
  tools/machine-learning/mujoco/scripts/mujoco-walking.py
Labels: cat:MuJoCo

#1618 fix action application in do_simulation
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_base_env.py
Labels: cat:MuJoCo
