Repository HULKs/hulk, pull requests merged in 2025-02, with the labels that each got.

#1624 Export script
  tools/machine-learning/mujoco/.gitignore
  tools/machine-learning/mujoco/.python-version
  tools/machine-learning/mujoco/packages/common_types/pyproject.toml
  tools/machine-learning/mujoco/packages/kinematics/pyproject.toml
  tools/machine-learning/mujoco/packages/mujoco-interactive-viewer/pyproject.toml
  tools/machine-learning/mujoco/packages/nao_env/pyproject.toml
  tools/machine-learning/mujoco/packages/nao_interface/pyproject.toml
  tools/machine-learning/mujoco/packages/rewards/pyproject.toml
  tools/machine-learning/mujoco/packages/robot_dimensions/pyproject.toml
  tools/machine-learning/mujoco/packages/throwing/pyproject.toml
  tools/machine-learning/mujoco/packages/transforms/pyproject.toml
  tools/machine-learning/mujoco/packages/walking_engine/pyproject.toml
  tools/machine-learning/mujoco/pyproject.toml
  tools/machine-learning/mujoco/scripts/convert_model.py
  tools/machine-learning/mujoco/sync.sh
  tools/machine-learning/mujoco/uv.lock
Labels: cat:MuJoCo, AI 🧠

#1625 Add fixes to NaoStanding Env
  tools/machine-learning/mujoco/model/tomato.xml
  tools/machine-learning/mujoco/packages/nao_env/src/nao_env/nao_standing.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/composer.py
  tools/machine-learning/mujoco/packages/rewards/src/rewards/rewards.py
  tools/machine-learning/mujoco/packages/throwing/src/throwing/__init__.py
Labels: cat:MuJoCo, AI 🧠

#1560 New KeeperMotion
  crates/control/src/behavior/defend.rs
  crates/control/src/behavior/node.rs
  crates/control/src/motion/dispatching_interpolator.rs
  crates/control/src/motion/keeper_jump_left.rs
  crates/control/src/motion/keeper_jump_right.rs
  crates/control/src/motion/mod.rs
  crates/control/src/motion/motion_selector.rs
  crates/control/src/motion/motor_commands_collector.rs
  crates/hulk_manifest/src/lib.rs
  crates/types/src/action.rs
  crates/types/src/motion_command.rs
  crates/types/src/motion_selection.rs
  crates/types/src/parameters.rs
  etc/motions/keeper_jump_right.json
  etc/parameters/default.json
Labels: cat:Motion

#1628 faster KeeperMotion
  etc/motions/keeper_jump_right.json
Labels: cat:Motion

#1642 Disable sacrificial lamb
  etc/parameters/default.json
Labels: rules:2025

#1648 Fix clippy lint in test cases
  crates/hulk_webots/src/camera.rs
  crates/vision/src/field_border_detection.rs
Labels: is:Cleanup

#1652 Fix webots config
  etc/parameters/webots/default.json
Labels: ParameterChangesOnly

#1649 Export script ultralytics to openvino
  tools/machine-learning/object_detection/export_ultralytics_openvino.py
  tools/machine-learning/object_detection/pyproject.toml
  tools/machine-learning/object_detection/uv.lock
Labels: cat:MachineLearning, tools:CI, tools:Tooling
